$bgc_light_theme: #ffffff;
$color_light_theme: #111;
$bgc_dark_theme: #111;
$color_dark_theme: #fff;

$_bgc_light: #ffffff;
$_color_dark: #111;
$_bgc_dark: #111;
$_color_light: #fff;

$_color_nav_link: rgb(31, 31, 31);
$_color_nav_hover_link: rgb(3, 98, 252);

$top_height: 2.5em;
$_top_header: 2em;

$top_btn_width: 3em;
$top_btn_height: 1.5em;